/* light blue #2b98f0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

#header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  flex: 0 0 auto;
}

#banner {
  flex: 1 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  color: #2b98f0;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul li a:hover {
  color: #f5f5f5;
  background: #2b98f0;
  padding-left: 60px;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}

#nav-top h3 {
  font-size: 30px;
  padding: 5px;
  color: #2b98f0;
  border: 3px solid;
  transition: color 2s ease, background 2s ease;
}

#nav-top h3:hover {
  background: #2b98f0;
  color: #f5f5f5;
}

#menu-btn {
  padding: 5px;
  border: 2px solid #2b98f0;
  cursor: pointer;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  background: #2b98f0;
  margin: 5px 0;
  transition: transform 1s ease;
}

.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.turn .bar2 {
  opacity: 0;
}
.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}
